[submodule "Royal-OCA"]
	path = Royal-OCA
	url = git@github.com:rlfss/Royal-OCA-Apps.git
	branch = OCA

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "White-Code-Repos/EGO13"]
	path = White-Code-Repos/EGO13
	url = git@github.com:White-Code-Repos/EGO13.git
	branch = master

[submodule "White-Code-Repos/firstgrain"]
	path = White-Code-Repos/firstgrain
	url = git@github.com:White-Code-Repos/firstgrain.git
	branch = firstgrain_development

[submodule "White-Code-Repos/passap"]
	path = White-Code-Repos/passap
	url = git@github.com:White-Code-Repos/passap.git
	branch = passap_development
